@media (max-width: 1370px) {
    .crossplatfrom__content {
        max-width: 1030px;
        padding: 77px 80px 0;
    }
    .crossplatfrom__descr {
        padding-top: 60px;
    }
}

@media (max-width: 1220px) {
    .header__content {
        max-width: 94%; 
    }
    .header-about__content {
        max-width: 900px;
    }
    .header-about__decor-dots {
        left: -10px;
        top: 73px;
    }
    .header-about__text {
        width: 58%;
        padding-top: 100px;
    }
    .header-about__img {
        width: 40%;
    }
    .header-about__text h1 {
        font-size: 34px;
    }
    .header-about__text p {
        font-size: 18px;
    }
    .header-about__text .first-par {
        margin-top: 24px;
    }
    .header-about__text .sec-par {
        margin-top: 19px;
    }
    .header-about__img .text {
        margin-left: 45px;
    }
    .preview__content {
        max-width: 900px;
    }
    .preview-subscr {
        max-width: 700px;
    }
    .preview-main {
        max-width: 440px;
        right: 30px;
        bottom: -50px;
    }
    .contact-form__content {
        max-width: 920px;
    }
    .contact-form__invite .invite-arrow--slide {
        transform: translateX(-190px);
    }
    .footer__content {
        max-width: 92%;
    }
}

@media (max-width: 1070px) { 
    .advantages__content {
        max-width: 800px;
    }
    .advantages__item {
        max-width: 30%;
    }
    .crossplatfrom__content {
        max-width: 910px;
        padding: 77px 50px 0;
    }
}

@media (max-width: 960px) { 
    .header-about__content {
        max-width: 720px;
    }
    .header-about__text {
        padding-top: 50px;
        width: 55%;
    }
    .header-about__img {
        width: 43%; 
    }
    .header-about__text h1 {
        font-size: 28px;
        line-height: 1.35;
    }
    .header-about__text p {
        font-size: 17px;
    }
    .header-about__text .first-par {
        margin-top: 16px;
    }
    .header-about__text .sec-par {
        margin-top: 15px; 
    }
    .header-about__decor-dots {
        left: -10px;
        top: 16px;
    }
    .header-about__img .text {
        margin-left: 23px;
    }
    .header-about__decor-circle {
        left: -15px;
        top: 690px;
    }
    .preview__content {
        max-width: 700px;
    }
    .preview-subscr {
        max-width: 540px;
    }
    .preview-main {
        max-width: 360px;
        right: 30px;
        bottom: -50px;
    }
    .preview-bord-decor {
        top: 120px;
    }
    .crossplatfrom__descr {
        padding-top: 15px;
    }
    .crossplatfrom__title {
        font-size: 29px;
    }
    .crossplatfrom__txt {
        font-size: 18px;
        margin-top: 25px;
    }
    .crossplatfrom__content {
        max-width: 720px;
        padding: 55px 20px 0;
    }
    .crossplatform__notif {
        padding: 11px;
        bottom: 10px;
        left: -25px;
    }
    .contact-form__content {
        max-width: 90%;
    }
    .contact-form__invite .invite-arrow--slide {
        transform: translateX(-170px);
    }
    .footer__about-us {
        font-size: 32px;
    }
}

@media (max-width: 900px) {
    .header__company {
        margin-left: 14px;
        font-size: 29px;
    }
    .header__nav-item:nth-child(n+2) {
        margin-left: 30px;
    }
    .advantages__content {
        max-width: 720px;
    }
    .advantages__item {
        max-width: 32%;
    }
    .contact-form__invite {
        width: 38%;
        .invite-title {
            font-size: 32px;
        }
        .invite-descr {
            font-size: 19px;
        }
        .invite-arrow img {
            width: 80px;
        }
    } 
}

@media (max-width: 768px) { 
    .header__content {
        max-width: 90%; 
    }
    .header__nav {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__contact-button {
        font-size: 15px;
        padding: 12px 20px;
    }
    .burger-button {
        width: 40px;
        height: 29px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s;
        background-color: transparent;
    }
    .burger-strip {
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: $site-green;
    }
    .burger-button--active {
        justify-content: center;
        transform: rotate(135deg);
    }
    .burger-button--active .burger-strip:nth-child(3) {
        display: none;
    }
    .burger-button--active .burger-strip:nth-child(2) {
        position: relative;
        top: -5px;
        transform: rotate(270deg);
    }
    .burger-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        min-width: 43%;
        max-width: 60%;
        height: 100%;
        padding: 32px 10px;
        transition: all 0.3s;
        box-shadow: 2px 0 9px rgba(0, 0, 0, 0.15);
        background-color: $site-green;
        color: #fff;
    }
    .burger-menu__close {
        position: absolute;
        top: 7px;
        right: 7px;
    }
    .burger-menu__list {
        padding: 0 30px;
    }
    .burger-menu__item {
        font-size: 19px;
        line-height: 1.3;
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
    }
    .burger-menu__item:nth-child(n+2) {
        margin-top: 22px;
    }
    .burger-menu__contact {
        margin-top: 25px;
    }
    .burger-menu__contact-btn {
        display: block;
        margin: auto;
        padding: 12px 17px;
        font-size: 16px;
        font-family: "Gilroy-SemiBold", sans-serif;
        border-radius: 20px;
        background-color:#fff;
        color: $site-green;
    }
    .burger-menu--active {
        left: 0;
    }
    .header-decor {
        top: 60px;
        right: -8px;
    }
    .header-about__content {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 80%;
    }
    .header-about__text {
        padding-top: 70px;
        width: 100%;
    }
    .header-about__decor-dots {
        left: -23px;
        top: 35px;
    }
    .header-about__text p {
        font-size: 17px;
    }
    .header-about__img {
        width: 85%;
        margin: 25px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-about__img .text {
        font-size: 18px;
        margin-right: 14px;
        margin-left: 0;
    }
    .header-about__decor-circle {
        left: -15px;
        top: unset;
    }
    .advantages__content {
        flex-direction: column;
        justify-content: flex-start;
        max-width: 320px;
    }
    .advantages__item {
        max-width: 100%;
        width: 100%;
    }
    .advantages__item:nth-child(n+2) {
        margin-top: 32px;
    }
    .advantages__item .description__txt {
        font-size: 22px;
    }
    .advantages__item .description img {
        width: 39px;
    }
    .preview {
        padding: 70px 0 50px;
    }
    .preview__content {
        max-width: 95%;
    }
    .preview-main {
        position: static;
        max-width: 100%;
        margin-top: 50px;
    }
    .preview-subscr {
        max-width: 100%;
    }
    .preview-subscr__txt,
    .preview-main__text {
        max-width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .preview-main__text { 
        margin-top: 20px;
    }
    .preview-main-decor,
    .preview-bord-decor {
        display: none;
    }
    .preview-main-dots {
        display: none;
    }
    .crossplatfrom {
        padding-top: 50px;
    }
    .crossplatfrom__descr {
        padding-top: 0;
        width: 100%;
    }
    .crossplatfrom__txt {
        margin-top: 14px;
    }
    .crossplatfrom__img {
        margin: 32px auto 0;
        width: 420px;
    }
    .crossplatform__notif {
        bottom: 50px;
        left: -4px;
        .notif-data {
            max-width: 170px;
        }
        .notif-data__title {
            font-size: 13px;
        }
        .notif-data__time {
            font-size: 12px;
        }
    }
    .crossplatfrom__content {
        padding-top: 36px;
        justify-content: flex-start;
        flex-direction: column;
        max-width: 92%;
    }
    .contact-form {
        padding: 40px 0;
    }
    .contact-form__content {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .contact-form__form-wrap {
        margin-top: 32px;
        width: 100%;
    }
    .contact-form__invite {
        width: 100%;
        padding-top: 0;
        text-align: left;
        .invite-arrow {
            display: none;
        }
        .invite-descr {
            margin-top: 14px;
        }
    }
    .footer {
        padding-top: 80px;
    }
    .footer__about-us {
        font-size: 28px;
    }
    .footer__contacts,
    .footer__sub-info {
        flex-direction: column;
    }
    .footer__contacts-item:nth-child(n+2) {
        margin: 20px 0 0 0;
    }
    .footer__copyright {
        margin-top: 20px;
    }
}

@media (max-width: 500px) { 
    .header__content {
        max-width: 95%;
    }
    .header__logo img {
        width: 56px;
    }
    .header__company {
        margin-left: 10px;
        font-size: 25px;
    }
    .header__contact-button {
        display: none;
    }
    .header-decor {
        display: none;
    }
    .burger-menu {
        min-width: 54%; 
    }
    .burger-menu__list {
        padding: 0 10px;
    }
    .burger-menu__item {
        font-size: 18px;
    }
    .burger-menu__contact-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
    .header-about__content {
        max-width: 90%;
    }
    .header-about__text {
        padding-top: 50px;
    }
    .header-about__text h1 {
        font-size: 25px;
    }
    .header-about__text p {
        font-size: 16px;
    }
    .header-about__img .text {
        font-size: 17px; 
    }
    .header-about__decor-dots {
        left: -10px;
        top: 11px;
    }
    .header-about__decor-circle {
        width: 47px;
    }
    .advantages__content {
        max-width: 300px;
    }
    .advantages__item .description__txt {
        font-size: 20px;
    }
    .advantages__item .description img {
        width: 36px;
    }
    .preview-subscr__txt, 
    .preview-main__text {
        font-size: 17px;
    }
    .crossplatfrom__title {
        font-size: 26px;
    }
    .crossplatfrom__txt {
        font-size: 17px;
    }
    .crossplatfrom__img {
        width: 320px;
    }
    .crossplatform__notif {
        padding: 8px;
        bottom: 20px;
        .notif-icon {
            width: 28px;   
        }
        .notif-data {
            margin-left: 8px;
        }
        .notif-data__time {
            margin-top: 7px;
        }
    }
    .contact-form__invite {
        width: 100%;
        padding-top: 0;
        text-align: left;
        .invite-title {
            font-size: 29px;
        }
        .invite-descr {
            font-size: 17px;
        }
    }
    .contact-form__form {
        padding: 36px 35px 28px;
    }
    .footer {
        padding-top: 60px;
    }
    .footer__about-us {
        font-size: 25px;
    }
    .footer__contacts-item .contact {
        font-size: 18px;
    }
    .footer__sub-info {
        margin-top: 145px;
        font-size: 15px;
    }
}

@media (max-width: 390px) { 
    .burger-menu {
        min-width: 70%;
        max-width: 70%;
    }
    .header-about__text h1 {
        font-size: 23px;
    }
    .header-about__img .text {
        font-size: 15px; 
        margin-right: 0;
    }
    .header-about__decor-dots {
        top: 10px;
    }
    .header-about__decor-circle img {
        width: 56px;
    }
    .advantages__content {
        max-width: 250px;
    }
    .advantages__item .description__txt {
        font-size: 18px;
    }
    .advantages__item .description img {
        width: 34px;
    }
    .preview-subscr__txt, 
    .preview-main__text {
        font-size: 16px;
    }
    .crossplatfrom__content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .crossplatfrom__title {
        font-size: 21px;
    }
    .crossplatfrom__img {
        width: 255px;
    }
    .crossplatform__notif {
        bottom: 20px;
        .notif-data {
            margin-left: 10px;
        }
        .notif-data__title {
            font-size: 11px;
        }
        .notif-data__time {
            font-size: 10px;
        }
    }
    .crossplatfrom__txt {
        font-size: 15px;
    }
    .contact-form__input {
        font-size: 17px;
        padding-bottom: 12px;
    }
    .contact-form__item:nth-child(n+2) {
        margin-top: 32px;
    }
    .contact-form__item--policy {
        font-size: 14px;
    }
    .footer__content {
        max-width: 94%;
    }
    .footer__about-us {
        font-size: 22px;
    }
    .footer__contacts-item .contact {
        font-size: 16px;
    }
    .footer__sub-info {
        align-items: flex-start;
    }
}