.advantages {
    padding: 25px 0;
}
.advantages__content {
    max-width: 935px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantages__item {
    max-width: 26.2%;

    .description {
        display: flex;
        align-items: center;
    }

    .description__txt {
        font-weight: 500;
        margin-left: 11px;
        color: #00194A;
    }
}
.advantages__item .border {
    width: 100%;
    height: 4px;
    margin-top: 10px;
    border-radius: 47px;
    background-color: rgba(7, 197, 175, 0.15);;
}