body {
    font-family: 'Gilroy', sans-serif;
}

button {
    cursor: pointer;
}

.page-wrapper {
    min-width: 320px;
    overflow: hidden;
}

.bg-decor {
    z-index: -10;
    position: absolute;
}