.footer {
    padding: 115px 0 45px;
    background-color: $site-green;
    color: #fff;
}
.footer-v2 {
    background: linear-gradient(107.7deg, #07C5AF 29.62%, rgba(255, 0, 214, 0.59) 92.95%);
}
.footer__content {
    max-width: 1180px;
    margin: auto;
}
.footer__about-us {
    line-height: 1.55;
    font-weight: 500;
    font-size: 36px;
}   
.footer__contacts {
    margin-top: 60px;
    display: flex;
}
.footer__contacts-item {
    display: flex;
    align-items: center;
}
.footer__contacts-item .contact {
    font-size: 20px;
    margin-left: 7px;
}
.footer__contacts-item:nth-child(n+2) {
    margin-left: 60px;
}
.footer__soc-nets {
    display: flex;
    align-items: center;
    margin-top: 37px;
}
.footer__soc-net:nth-child(n+2) {
    margin-left: 22px;
}
.footer__sub-info {
    margin-top: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__service {
    line-height: 1.4;
}
.footer__service a {
    line-height: 1.4;
    color: #fff;
}
.footer__service a:hover {
    text-decoration: underline;
}