@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"),
         url("../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"),
         url("../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"),
         url("../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
}